@use "./_index" as *;
@use "./_reset";

// CSS 변수 정의
:root {
  --white: #{$white};
  --black: #{$black};
  --gray: #{$gray};
  --blue: #{$blue};
  --green: #{$green};
}

// 전역 스타일
body {
  background: $black;
  color: $white;
  font-family: "Pretendard-Regular";
  font-size: 18px;
}

// 폰트 정의
@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  src:
    local(※),
    url("/font/Pretendard-Regular.eot") format("embedded-opentype"),
    url("/font/Pretendard-Regular.woff") format("woff"),
    url("/font/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard-Bold";
  font-style: normal;
  src:
    local(※),
    url("/font/Pretendard-Bold.eot") format("embedded-opentype"),
    url("/font/Pretendard-Bold.woff") format("woff"),
    url("/font/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "NewYork";
  font-style: normal;
  src:
    local(※),
    url("/font/NewYork.eot") format("embedded-opentype"),
    url("/font/NewYork.woff") format("woff"),
    url("/font/NewYork.woff2") format("woff2");
}

@font-face {
  font-family: "Paperlogy-Regular";
  font-style: normal;
  src:
    local(※),
    url("/font/Paperlogy-4Regular.eot") format("embedded-opentype"),
    url("/font/Paperlogy-4Regular.woff") format("woff"),
    url("/font/Paperlogy-4Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Paperlogy-Medium";
  font-style: normal;
  src:
    local(※),
    url("/font/Paperlogy-5Medium.eot") format("embedded-opentype"),
    url("/font/Paperlogy-5Medium.woff") format("woff"),
    url("/font/Paperlogy-5Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Paperlogy-Bold";
  font-style: normal;
  src:
    local(※),
    url("/font/Paperlogy-7Bold.eot") format("embedded-opentype"),
    url("/font/Paperlogy-7Bold.woff") format("woff"),
    url("/font/Paperlogy-7Bold.woff2") format("woff2");
}
