@import "@/app/styles/variables";
@import "@/app/styles/mixins";

.headerContainer {
  width: 100%;
  padding: 0 35px;
  position: fixed;
  font-family: "NewYork";
  z-index: 999;
  mix-blend-mode: difference;
  top: 35px;

  &.on {
    mix-blend-mode: unset;
  }

  @include mobile {
    padding: 0 15px;
    mix-blend-mode: unset;
  }
}

.headerWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
