@use "@/app/styles/_index" as *;

.logoContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 32px;
  font-weight: bold;
  color: $white;

  @include mobile {
    font-size: 25px;
  }
}
