@import "@/app/styles/variables";
@import "@/app/styles/mixins";

.navigationContainer {
  display: flex;

  @include mobile {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: rgba($black, 0.8);
    top: 0;
    right: -100%;
    bottom: 0;
    transition: all 0.5s;
    border-radius: 1920px 0px 0px 1920px;

    &.active {
      right: 0%;
    }
  }
}

.navigationList {
  display: flex;
  align-items: center;

  @include mobile {
    flex-direction: column;
    gap: 100px;
    align-items: center;
    margin-top: 150px;
  }
}
