@use "@/app/styles/_index" as *;

.scrollDownPosition {
  position: fixed;
  right: 35px;
  bottom: 35px;
  z-index: 10;
  display: flex;
  opacity: 1;
  transition: opacity 0.75s cubic-bezier(0.4, 0, 0.2, 1);
  mix-blend-mode: difference;

  @include mobile {
    right: 15px;
    bottom: 15px;
  }
}

.scrollDownContent {
  position: relative;
  display: block;
}

.scrollDownWrap {
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  backface-visibility: hidden;

  @include mobile {
    width: 50px;
    height: 50px;
  }
}

.scrollDownImage {
  transform-origin: center center;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.downArrowImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center center;
  will-change: transform;

  @include mobile {
    width: 14px;
    height: 14px;
  }
}
