@use "@/app/styles/_index" as *;

.skillTitle {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: "NewYork";
  font-size: 50px;
  color: $white;
  margin-bottom: 20px;
  margin-top: 20px;

  @include mobile {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 0px 15px;
  }
}

.skillsContainer {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 2;
    pointer-events: none;

    @include mobile {
      width: 0px;
    }
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, $black 80%, transparent 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, $black 80%, transparent 100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skillsContainerInner {
  display: flex;
  gap: 64px;
  width: max-content;
  animation: marquee 100s linear infinite;
  padding: 10px;

  @include mobile {
    gap: 20px;
    animation: marquee 50s linear infinite;
  }
}
.skillsContainerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsCircle {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: #121212;
  box-shadow: 0 0 10px 0 $white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    width: 43px;
    height: 43px;
  }
}

.skillsIcon {
  fill: $white;
  width: 45px;
  height: 45px;

  @include mobile {
    width: 24px;
    height: 24px;
  }
}

.skillsCircleText {
  color: $white;
  margin-top: 8px;
  text-align: center;
  font-family: "NewYork";

  @include mobile {
    font-size: 12px;
  }
}
