@use "@/app/styles/_index" as *;

.firstSectionContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $black;
  overflow: hidden;

  @include mobile {
    background-image: url("/home/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
  }
}
.firstSectionBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  filter: grayscale(100%);

  @include mobile {
    display: none;
  }
}
.firstSectionWrap {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstSectionBox {
  transform: translateY(-30px);
}
.firstSectionText {
  font-size: 100px;
  font-family: "NewYork";
  color: $white;
  text-align: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

  &.visible {
    opacity: 1;
    transform: scale(1);
  }

  @include mobile {
    font-size: 30px;
    text-align: left;
    padding: 0 15px;
  }
}

.firstSectionTextWrap {
  margin-top: 30px;

  @include mobile {
    padding: 0 15px;
    margin-top: 15px;
  }
}

.firstSectionTextContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include mobile {
    gap: 10px;
    align-items: flex-start;
  }

  p {
    font-family: "Paperlogy-Regular";
    font-size: 18px;
    color: $white;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform-origin: center;

    &.visible {
      opacity: 1;
      transform: scale(1);
    }

    @include mobile {
      font-size: 14px;
      line-height: 25px;
      transform-origin: left center;
    }
  }
}

.firstSectionTextContentSpan {
  font-family: "Paperlogy-Bold";
  color: $white;
  display: inline-block;
  position: relative;
  padding: 14px;
  margin: 0px 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  @include mobile {
    margin: unset;
    padding: unset;
    padding: 0px 5px;
  }

  &:hover {
    color: $black;
  }

  &:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid $white;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    border-radius: 33px;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  @include mobile {
    margin-right: 5px;
  }

  &:hover::before {
    background-color: $white;
  }
}
