@use "@/app/styles/_index" as *;

// 각 유성별 애니메이션 정의
@keyframes meteor1 {
  0% {
    top: -10vh;
    left: 0vw;
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    top: 110vh;
    left: 100vw;
    opacity: 0;
  }
}

@keyframes meteor2 {
  0% {
    top: -10vh;
    left: -15vw;
    opacity: 1;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    top: 110vh;
    left: 100vw;
    opacity: 0;
  }
}

@keyframes meteor3 {
  0% {
    top: -10vh;
    left: 25vw;
    opacity: 1;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    top: 110vh;
    left: 125vw;
    opacity: 0;
  }
}

@keyframes meteor4 {
  0% {
    top: 0vh;
    left: -25vw;
    opacity: 1;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    top: 110vh;
    left: 100vw;
    opacity: 0;
  }
}

// 모바일 환경에서의 유성 애니메이션
@include mobile {
  @keyframes meteor1 {
    0% {
      top: -10vh;
      left: 0vw;
      opacity: 1;
    }
    60% {
      opacity: 0.5;
    }
    100% {
      top: 110vh;
      left: 170vw;
      opacity: 0;
    }
  }

  @keyframes meteor2 {
    0% {
      top: -10vh;
      left: -15vw;
      opacity: 1;
    }
    60% {
      opacity: 0.4;
    }
    100% {
      top: 110vh;
      left: 170vw;
      opacity: 0;
    }
  }

  @keyframes meteor3 {
    0% {
      top: -10vh;
      left: 25vw;
      opacity: 1;
    }
    60% {
      opacity: 0.4;
    }
    100% {
      top: 110vh;
      left: 170vw;
      opacity: 0;
    }
  }

  @keyframes meteor4 {
    0% {
      top: 0vh;
      left: -25vw;
      opacity: 1;
    }
    60% {
      opacity: 0.4;
    }
    100% {
      top: 110vh;
      left: 170vw;
      opacity: 0;
    }
  }
}

.meteorContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #dddd;
  opacity: 0;

  &::after {
    position: absolute;
    top: calc(50% - 1px);
    left: -950%;
    width: 2000%;
    height: 2px;
    background: linear-gradient(to left, transparent, #ffffff);
    content: "";
    transform: rotateZ(210deg) translateX(50%);
  }

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      // 각 유성별 랜덤 값 설정
      $delay: random(15) * 0.1s; // 시작 지연 시간 (0~1.5초)
      $speed: 2 + random(15) * 1s; // 이동 속도 (2~4초)
      $color: #dddd;
      $size: 2 + random(2) * 1px; // 크기 (2~5px)

      // 각 유성별 애니메이션과 시작 위치 설정
      @if $i == 1 {
        animation: meteor1 $speed ease-in infinite;
        animation-delay: $delay;
      } @else if $i == 2 {
        animation: meteor2 $speed ease-in infinite;
        animation-delay: $delay;
      } @else if $i == 3 {
        animation: meteor3 $speed ease-in infinite;
        animation-delay: $delay;
      } @else {
        animation: meteor4 $speed ease-in infinite;
        animation-delay: $delay;
      }

      width: $size;
      height: $size;
      box-shadow: 0 0 10px 3px var(--white);
    }
  }
}

// 모바일 환경에서 애니메이션 속도와 효과 조절
@include mobile {
  .star {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        // 모바일 환경에서는 애니메이션 조금 더 빠르게
        $delay: random(10) * 0.1s; // 시작 지연 시간 (0~1초)
        $speed: 3 + random(15) * 0.2s; // 이동 속도 (3~5초)
        $size: 2 + random(3) * 1px; // 크기 (2~6px)

        animation-duration: $speed;
        animation-delay: $delay;
        width: $size;
        height: $size;
      }
    }
  }
}
